
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1877f2;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
              url("https://source.unsplash.com/1600x900/?luxury-house");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
  opacity: 0.9;
}


/* BUTTON */
.btn-primary {
  background: #1877f2;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background: #125edb;
}

/* CATEGORIES */
.categories {
  padding: 80px 50px;
  text-align: center;
}

.category-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.category-card {
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  width: 200px;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-8px);
}

/* WHY US */
.whyus {
  padding: 80px 50px;
  text-align: center;
  background: #ffffff;
}

.why-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.why-card {
  padding: 30px;
  background: #1877f2;
  color: white;
  border-radius: 12px;
  width: 250px;
}

/* FOOTER */
.footer {
  background: #0b1c2d;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}
