body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO SECTION */

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
              url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-primary {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}
